<launch>
  <group ns="/pcl_filters">

    <!-- PCL Manager -->
    <node pkg="nodelet" type="nodelet" name="cropbox_filter_pcl_manager" args="manager" output="screen"/>

    <!-- A CropBox filter to avoid self-detection -->
    <node pkg="nodelet" type="nodelet" name="self_removal" args="load pcl/CropBox cropbox_filter_pcl_manager" output="screen">
      <remap from="~input" to="/d455_right/depth/color/points" />
      <remap from="~output" to="/d455_right/depth/color/points_cropped" />
      <rosparam>
        input_frame: d455_right_link
        output_frame: d455_right_link
        # true: no points in the box, false: no points outside the box
        negative: true
        min_x: 0
        max_x: 0.7
        min_y: -0.1
        max_y: 1
        min_z: -2
        max_z: 2
      </rosparam>
    </node>

  </group>
</launch>
